@page
@model Async_Mail_App.Pages.Mail.MailSplashModel
@{
}

<div class="container">
    <h3 class="text-center">
        Async Mailer
    </h3>
    <br></br>

    <div class="row">
        <div class="col text-center">
            <a class="btn btn-dark" asp-page="./MailDirectory">Mail Search and Directory</a>
            <a class="btn btn-dark" asp-page="./MailCreate">Create E-Mail</a>
        </div>
    </div>
</div>
